*{
    margin: 0;
    padding: 0;
}

.w-20{width: 20%;}

.w-30{width: 30%;}

.w-80{width: 80%;}

.h-35{height: 35px;}

.h-80{height: 80%;}

.mt-10{margin-top: 10%;}

.ml-9{margin-left: 90%;}

.ml-4{margin-left: 40%;}

.ml-10{margin-left: 20px;}

.ml-20{margin-left: 20px;}

.mr-25{margin-right: 25px;}

.b-3{border: 3px solid black;}

.float-left{float: left;}

.grid-4{
    display: grid;
    grid-template-columns: repeat(4, 130px);
    grid-gap: 10px;
}

.grid-3{
    display: grid;
    grid-template-columns: repeat(3, 130px);
    grid-gap: 105px;
}
